* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  padding: 8px 16px;
  position: sticky;
  z-index: 1;
  top: 0;
}
.logo {
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  color: #213970;
}
.navigation a {
  color: #ffff;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
  font-weight: 500;
  border-bottom: solid 2px transparent;
}
.navigation a:hover {
  color: #064663;
  border-bottom: solid 2px #064663;
}
body {
  height: 100%;
  width: 100%;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #041c32;
  transition: 5s;
  background-attachment: fixed;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
@keyframes animate {
  0% {
    background: url(../images/lbkhour3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  20% {
    background: url(../images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  40% {
    background: url(../images/bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  60% {
    background: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  80% {
    background: url(../images/tirjit2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  100% {
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
section {
  padding: 100px;
  background-color: #222831;
  position: relative;
}
.container h2 {
  font-size: 4em;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.container a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.6em;
  font-weight: 600;
  border-radius: 15px;
  background-color: #222831;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 30px;
  transition: 0.7s ease;
}
.container a:hover {
  transform: scale(1.1);
}
.culture {
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
}
table,
tr,
td {
  border: 1px solid black;
  padding: 20px;
  border-collapse: collapse;
}
.content {
  border: 1px solid black;
}
.facts {
  border: 1px solid black;
  padding: 30px;
}
.card {
  background-color: #041c32;
  width: 150px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.flag img {
  width: 100px;
}
